body {
    background-color: rgb(255, 255, 255);
    /* color: white; */
  }
  /* CSS for nav bar */
  .navbar {
    background-color: rgb(252, 251, 251);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
 
  .navbar .logo {
    font-size: 46px !important;
    color: rgb(102, 192, 204);
    font-family: 'Square Peg', sans-serif;
  }
 
  .navbar .logo:hover {
    font-size: 50px !important;
    color: rgb(136, 172, 166);
  }
 
  .navbar .navbar-toggler {
    display: none;
  }
 
  .navbar .nav-links {
    display: flex;
    align-items: center;
  }
 
  .navbar .nav-links a {
    font-size: 20px !important;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 16px; /* Adjusted font size */
    color: black;
  }
 
  .navbar .nav-links a:hover {
    color: rgb(118, 165, 172);
    cursor: pointer;
  }
 
  @media screen and (max-width: 768px) {
    .navbar .logo {
      font-size: 24px; /* Adjusted font size */
    }
 
    .navbar .navbar-toggler {
      display: block;
      cursor: pointer;
    }
 
    .navbar .nav-links {
      display: none;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 60px; /* Adjusted top position */
      left: 0;
      background-color: rgb(252, 251, 251);
    }
 
    .navbar .nav-links a {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }